*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

body{
    font-family: 'Lora', serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

.small-container{
    width: 70%;
    margin: auto;
    padding: $standard-padding-y 0;
}

.smaller-container{
    width: 65%;
    margin: auto;
    padding: $standard-padding-y 0;
}

.big-container{
    width: 90%;
    margin: auto;
    padding-top: 130px;
    padding-bottom: $standard-padding-y
}

.flex-vanilla{
    @include my-display-flex;
}

.flex-centered{
    @include my-display-flex;
    align-items: center;
    justify-content: center;

}

.spacer{
    width: 60px;
    padding-top: 9px;

    div{
        width: 80%;
        border-top: 1px solid $light-font-color;
    }
}

.caption{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}


.section-title{
    font-size: 35px;
    font-family: 'Lora';
    text-align: center;
    .spacer{
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}


