.full-width-block{
    @include my-display-flex;
    width: 100%;
}

.block-on-black{
    @include my-display-flex;
    padding: 200px 0;
}

.info-on-black{
    width: 40%;
    background-color: black;
    padding-left: $standard-padding-x;
}

.spacer{
    width: 80px;
    padding-top: 11px;

    div{
        width: 80%;
        border-top: 1px solid $light-font-color;
    }
}

.text-on-black{
    color: $light-font-color;
    width: 60%;
    padding-left: 30px;

    h2{
        color: white;
        font-size: 80px;
        font-weight: 500;
        margin: 40px 0;
    }

    p{
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    button{
        @include standard-button;

        a{
            color: $light-font-color;
            font-weight: 700;
        }
    }

    button:hover{
        background-color: white;

        a{
            color: black;
        }
    }
}

.bg-img{
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}


#table-img{
    background-image: url(../img/slider32x.jpg);
    background-position: center;
}

#takeout-img{
    background-image: url(../img/slider72x-scaled.jpg);
    background-position: center;
}