header{
    .full-width-block{
        height: 100vh;
    }
}

.full-width-block{
    width: 100%;
}

.block-on-black{
    @include my-display-flex;
    padding: 130px 0;
}

.info-on-black{
    width: 40%;
    background-color: black;
    padding-left: $standard-padding-x;
}


.text-on-black{
    color: $light-font-color;
    width: 70%;
    padding-left: 30px;
    h2{
        color: white;
        font-size: 90px;
        font-weight: 500;
        margin: 40px 0;
    }

    p{
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    button{
        @include standard-button;

        a{
            color: $light-font-color;
            font-weight: 700;
        }
    }

    button:hover{
        background-color: white;
        border: 1px solid black;
        
        a{
            color: black;
        }
    }
}

.bg-img{
    background-size: 60%;
    background-position: right top;
    content: '';
    background-repeat: no-repeat;
    background-color: black;
}

#bg-header{
    background-image: url(../img/slider52x.jpg);
}

#bg-table{
    background-image: url(../img/slider32x.jpg);
}
