.top-nav{
    @include my-display-flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px $standard-padding-x;

}

.logo{
    width: 300px;
}

.top-menu{
    ul{
        list-style-type: none;
        @include my-display-flex;
        justify-content: center;
    }

    li{
        display: inline-block;
        padding: 0 20px;
        a{
            text-decoration: none;
            color: $light-font-color;
            font-weight: 600;
        }

        a:hover{
            color: white;
        }
    }
}