header{
    background-color: black;

    .block-on-black{
        padding-left: $standard-padding-x;
        width: 40%;
    }
}
.top-nav{
    @include my-display-flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: $standard-padding-x;
    padding-right: $standard-padding-x;
}

.logo{
    width: 300px;
}

.top-menu{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    ul{
        list-style-type: none;
        @include my-display-flex;
        justify-content: center;
    }

    li{
        display: inline-block;
        margin: 0 20px;
        a{
            text-decoration: none;
            color: $light-font-color;
        }

        a:hover{
            color: white;
        }
    }
}

.new::after{
    content: 'NEW';
    color: $light-font-color;
    border: 1px solid $light-font-color;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 5px;
    vertical-align: middle;
}

#header-title{
    font-size: 100px;
}


.bg-header{
    background-size: 60%;
    background-position: right top;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 36%) ,url(../img/slider52x.jpg);
}
